In [1]:
fruit_list = ['apple','orange','grape','banana','avocado']

In [2]:
if "grape" in fruit_list:
    print('grape is in the list')
    
else:
    print('grape is not in the list')

grape is in the list

In [4]:
if "strawberry" in fruit_list:
    print('strawberry is in the list')
    
elif "orange" in fruit_list:
    print('orange is in the list')
    
else:
    print('both orange and strawberry are not in the list')

orange is in the list

In [7]:
if fruit_list[1] == 'orange':
    print('true')
    
else: 
    print('false')

true

In [8]:
if fruit_list[4] == "avocado":
    
    print('yes, avocado is at the forth index')
    print('replacing avocado with strawberry at the forth index')
    
    fruit_list[4] = 'strawberry'
    print(fruit_list)
    
else:
    print('avocado is not at the forth index')

yes, avocado is at the forth index
replacing avocado with strawberry at the forth index
['apple', 'orange', 'grape', 'banana', 'strawberry']

In [9]:
car_tuple = {'Toyota Camry','Honda Accord','Honda Civic','Toyota Corolla'}

In [11]:
if "Honda Accord" in car_tuple:
    print("Honda Accord is in tuple")
    
else:
    print("Honda Accord is not in tuple")

Honda Accord is in tuple

In [12]:
if "suzuki" in car_tuple:
    print("suzuki is in tuple")
    
else:
    print("suzuki is not in tuple")

suzuki is not in tuple

In [14]:
if "Honda Accord" in car_tuple and "Ducati Monster" in car_tuple:
    print("Honda Accord and ducati are both cars")
    
else:
    print("At least 1 is car")

At least 1 is car

In [15]:
if "Honda Accord" in car_tuple or "Ducati Monster" in car_tuple:
    print("At least one is in the list")
    
else:
    print("none are in least")

At least one is in the list

In [16]:
salary = {'1':25000,
         '2':45000,
         '3':35000,
         '4':23000,
         '5':77000}

In [17]:
salary

{'1': 25000, '2': 45000, '3': 35000, '4': 23000, '5': 77000}

In [18]:
if '1' in salary:
    print('1 is in dictionary')
else: 
    print('not in dictionary')

1 is in dictionary

In [19]:
if '6' in salary:
    print(' is in dictionary')
else: 
    print('not in dictionary')

not in dictionary

In [20]:
if '6' in salary:
    print(' is in dictionary')
else: 
    salary['6'] = 31000
    print('6 annual income is %s'%salary['6'])

6 annual income is 31000

In [21]:
salary

{'1': 25000, '2': 45000, '3': 35000, '4': 23000, '5': 77000, '6': 31000}

In [22]:
age_details = {'Lisa': 25,'Jason':30,'Cooper':29,'Sarah':22}

In [23]:
if age_details['Lisa'] < age_details['Jason']:
    
    print('Jason is older than Lisa')
    
    if age_details["Jason"] > age_details['Cooper']:
        print('Jason is older than cooper')
        
        if age_details['Cooper'] < age_details['Sarah']:
            print('cooper is younger than sarah')
        elif age_details['Cooper'] > age_details['Sarah']:
            print('Jason is the oldest person in dict')
else:
    print('Jason is not the oldest person in dict')

Jason is older than Lisa
Jason is older than cooper
Jason is the oldest person in dict

In [24]:
details = [['Jane','Amanda','Emma'],
          [35,40,50],
          [20000, 50000, 40000]]

In [27]:
max_sal = max(details[2])

if (details[2][1] == max_sal):
    
    if(details[1][1] > 30):
        print(details[0][1],' has the highest salary and her age is greater than 30')
        
    elif(details[1][1]==30):
        print(details[0][1], 'has the highest salay and she is 30 years old')
        
    else:
        print('Amanda has the highest salary and she is less than 30 yearsold')
        
else: 
    print('Someone else has the highest salary')

Amanda  has the highest salary and her age is greater than 30