In [1]:
type(66)

int

In [2]:
float(66)

66.0

In [3]:
a = 66

type(a)

int

In [4]:
my_float = float(a)

my_float

66.0

In [5]:
type(my_float)

float

In [6]:
int(390.8) #rounds down

390

In [7]:
b = 66.6

my_int = int(b)

my_int

66

In [9]:
num_int = 76
num_float = 23.4

type(num_float),type(num_int)

(float, int)

In [10]:
new_num = num_int + num_float

new_num, type(new_num)

(99.4, float)

In [11]:
my_float = 66.66666

my_num = int(my_float)

my_num

66

In [12]:
int('12')

12

In [13]:
a = '66'

type(a)

str

In [14]:
my_int = int(a)

my_int

66

In [15]:
num_int = 66
num_str = "121"

addition = num_int + int(num_str)

In [16]:
addition

187

In [17]:
str(12)

'12'

In [18]:
my_float = 5524.21987

print("John has " + str(my_float) + " points")

John has 5524.21987 points

In [19]:
user = "John"
lines = 50

print('Congratulations ' + user + ' you just wrote ' + lines + ' lines of code!')

TypeError: can only concatenate str (not "int") to str

In [20]:
user = "John"
lines = 50

print('Congratulations ' + user + ' you just wrote ' + str(lines) + ' lines of code!')

Congratulations John you just wrote 50 lines of code!

In [21]:
number = input()

plus_ten = number + 10

10

TypeError: can only concatenate str (not "int") to str

In [27]:
number = int(input())

plus_ten = number + 10

print('If we add 10 to this number ' + str(plus_ten))

10
If we add 10 to this number 20

In [29]:
number = int(input())

plus_ten = number + 10
plus_twenty = number + 20

print('If we add 10 and 20 to this number the answer is %s and %s ' %(plus_ten, plus_twenty))

10
If we add 10 and 20 to this number the answer is 20 and 30