In [1]:
def my_intro():
    print('Hello, im harry')
    print('I live/work in dallas')

In [2]:
my_intro()

Hello, im harry
I live/work in dallas

In [3]:
def intro(name):
    print('my name is', name)
    print('I live and work in dallas')

In [6]:
intro('Adil')

my name is Adil
I live and work in dallas

In [8]:
def intro(name, city):
    print('my name is', name)
    print('I live and work in', city)

In [9]:
intro("Adil", "JHB")

my name is Adil
I live and work in JHB

In [10]:
def square(x):
    print('the square of', x, 'is', x*x)

In [11]:
square(2)

the square of 2 is 4

In [12]:
square(10001)

the square of 10001 is 100020001

In [13]:
square('james')

TypeError: can't multiply sequence by non-int of type 'str'

In [14]:
num = 25

square(num)

the square of 25 is 625

In [15]:
another_num = 100

In [16]:
square(num)
square(another_num)

the square of 25 is 625
the square of 100 is 10000

In [17]:
salary = 1000
expense = 300

def my_savings(a, b):
    print('My total savings:', salary - expense)

In [19]:
my_savings(1000,200)

My total savings: 700

In [20]:
def my_savings2(a, b):
    print('My total savings:', a-b)

In [21]:
my_savings2(4000,200)

My total savings: 3800

In [22]:
salary = 2000
expense = 700

def my_calcs(salary, expense):
    print('My total savings:', salary - expense)

In [23]:
my_calcs()

TypeError: my_calcs() missing 2 required positional arguments: 'salary' and 'expense'

In [24]:
my_calcs(salary, expense)

My total savings: 1300

In [25]:
my_calcs(5, 2)

My total savings: 3

In [28]:
def print_many_times(string, times):
    '''documentation, lmao i\'m not going to explain this'''
    
    for i in range(times):
        print(string)

In [29]:
print_many_times('i like cheese', 3)

i like cheese
i like cheese
i like cheese

In [30]:
print_many_times.__doc__

"documentation, lmao i'm not going to explain this"

In [31]:
def print_higher_number(a,b):
    if a > b:
        print('higher number is ', a)
        
    else:
        print('higher number is ', b)

In [32]:
print_higher_number(5,6)

higher number is  6

In [33]:
def print_higher_number_with_error(a,b):
    if a > b:
        print('higher number is ', a)
        
    else:
        print('higher number is ', b)
        
        result = b + 'a'

In [34]:
print_higher_number_with_error(10,11)

higher number is  11

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
def multiply(n1,n2,n3):
    print('result of *:',n1*n2*n3)

In [36]:
multiply(1,2,3)

result of *: 6

In [37]:
def length(some_list):
    
    count = 0
    for element in some_list:
        count += 1
        
    print('the length of this list is', count)

In [38]:
list1 = list(range(1,11))

In [39]:
length(list1)

the length of this list is 10