In [1]:
set1 = {'c++', 'php','java','python'}

set1

{'c++', 'java', 'php', 'python'}

In [2]:
type(set1)

set

In [3]:
set2 = set1

In [4]:
set2.add('sql')

In [5]:
print(set1)
print(set2)

{'java', 'php', 'python', 'sql', 'c++'}
{'java', 'php', 'python', 'sql', 'c++'}

In [6]:
set2.pop()

'java'

In [7]:
print(set1)
print(set2)

{'php', 'python', 'sql', 'c++'}
{'php', 'python', 'sql', 'c++'}

In [8]:
teacher_set = {'ava','mia','jacob','daniel'}

teacher_set

{'ava', 'daniel', 'jacob', 'mia'}

In [10]:
import copy

In [11]:
new_teacher = copy.copy(teacher_set)

In [12]:
teacher_set.add('emma')

In [13]:
print(teacher_set)
print(new_teacher)

{'mia', 'ava', 'jacob', 'emma', 'daniel'}
{'mia', 'ava', 'jacob', 'daniel'}

In [14]:
new_teacher.remove('ava')

In [15]:
print(teacher_set)
print(new_teacher)

{'mia', 'ava', 'jacob', 'emma', 'daniel'}
{'mia', 'jacob', 'daniel'}

In [16]:
teacher_set = {'ava','mia','jacob','daniel'}

teacher_set

{'ava', 'daniel', 'jacob', 'mia'}

In [17]:
new_teacher = copy.deepcopy(teacher_set)

In [18]:
print(teacher_set)
print(new_teacher)

{'mia', 'ava', 'jacob', 'daniel'}
{'mia', 'ava', 'jacob', 'daniel'}